/* Structural Pseudo-classes------------------ */

li:first-child {
    background: #717c7b;
    color: white;
}

li:last-child {
    border: none;
}

span:only-child {
    color: #52bab3;
    font-size: 1.5em;
}

:empty {
    background: tomato;
}

/* :nth-child Pseudo-classes------------------ */

/*
 b = the first element we select 
 a = the cycle of the elements to be selected
*/
li:nth-child(-2n + 9) {
    background: #52bab3;
    color: white;
}